{% extends "appabs/main.html" %}

{% block title %}
Cours
{% endblock %}
{%block content %}
<h5 class="text-center m-md-5">
</h5>

<table class="table is-fullwidth is-hoverable">
    <thead>
    <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th>Titre du cours</th>
        <th>Date</th>
        <th>Enseignant</th>
        <th>Groupe</th>
        <th class="text-end">Actions</th>
    </tr>
    </thead>
    {% for cours in cours %}
    <tbody>
    <tr>
        <td><a href="/appabs/absences/affiche/">{{cours.idcours}}</a></td>
        <td>{{cours.titrecours}}</td>
        <td>{{cours.datecours}}</td>
        <td>{{cours.idenseignants.nomenseignants}}</td>
        <td>{{cours.idgroupe.nomgroupe_etudiant}}</td>
        <td class="text-end">
            <a type="button" class="btn btn-secondary" href="/appabs/cours/modif/{{cours.idcours}}">Modifier</a>
            <a type="button" class="btn btn-danger" href="/appabs/cours/supprimer/{{cours.idcours}}">Supprimer</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}